html, body, .page, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  padding: 4rem 0;
  background: #111111;
  color: #c1c1c1;
  margin: 0;
}

.entry {
  position: relative;
  padding: 0;
  height: 90%;
  overflow: hidden;
}

.entry--video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.team {
  background-image: url("assets/IRSTeam.jpg");
  height: 50%;
  background-position: top;
  background-position-x: right;
}

.coach,
.team {
  background-size: cover;
  padding: 0;
}

.team {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.entry--text,
.team--text {
  transform: translateY(10rem);
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #0000009c;
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.team--text {
  transform: translateY(1rem);
}

.entry--text:hover,
.team--text:hover {
  background: #000;
}

.entry--phone,
.entry--phone:hover {
  white-space: nowrap;
  color: white;
  border-bottom: 1px dashed white;
  text-decoration: none;
}

.coach--title,
.rodo--title {
  text-align: center;
  padding: 1.5rem 0 5rem 0;
}

.coach--text {
  margin-bottom: 3rem;
  background: #ffffff7d;
  padding: 1rem 2rem;
  text-align: right;
}

.coach-paragraph {
  padding-top: 1.5rem;
}

.rodo {
  background-color: #9a9a9a;
  color: #c1c1c1;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.rodo:hover {
  background: #3e3e3e;
}

.logo {
  position: fixed;
  width: 100%;
  height: 5rem;
  background: #fff url("assets/logo.png") no-repeat;
  background-size: auto 5rem;
  background-position-x: center;
  z-index: 999;
  box-shadow: 0 0 1rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem 0;
}

.logos > img {
  flex: none;
  max-height: 6rem;
  min-height: 6rem;
}

.youtube {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;
}

.youtube .video {
  flex: none;
}

.coach {
  background: #ececec url("assets/AdamWargal.jpg") no-repeat center;
}

.trainings td {
  padding: 1rem 0.5rem;
}

.trainings td div:first-child {
  font-weight: bold;
}

.trainings td div:last-child {
  font-style: italic;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
}

@media (min-width: 576px) {
  .coach {
    background-size: auto 100%;
    transition: 0.3s;
    transition-timing-function: ease-in;
  }
}

@media (min-width: 768px) {
  .entry--text,
  .team--text {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    transition: 0.7s;
    transition-timing-function: ease-in-out;
    word-break: break-word;
  }

  .coach:hover {
    background-position-x: -20rem;
  }
}

@media (min-width: 992px) {
  .coach {
    background-position-x: left;
  }

  .coach:hover {
    background-position-x: -10rem;
  }
}

@media (max-width: 576px) {
  .entry--email {
    display: none;
  }
}
